# git+https://github.com/supervisely/supervisely.git@some-test-branch

# See Dockerfile for exact versions
supervisely==6.73.486

# AUGS
imgaug
imagecorruptions

# MM
# mmengine
# mmcv
# openmim

importlib_metadata
modelindex
einops
mat4py
matplotlib
rich
