# git+https://github.com/supervisely/supervisely.git@test-sdk-branch
supervisely==6.73.331

# Torch
torch==2.6.0
torchvision==0.21.0

# AUGS
imgaug==0.4.0
imagecorruptions==1.1.2

# MM
mmengine==0.10.7
mmcv==2.2.0

importlib_metadata==8.6.1
modelindex==0.0.2
einops==0.8.1
mat4py==0.6.0
matplotlib==3.10.1
rich==13.9.4
