<sly-card title="Training tags"
          subtitle="Training supports only tags of type NONE (without values). Tags assigned to 0 images and tags with name
                    'train' and 'val' will be skipped automatically. Also if you would like to train classifier on key-value tags
                    you need to unpack them first using app 'Unpack key-value tags' from Ecosystem"
          :options="{collapsable: true}"
          :collapsed.sync="state.collapsed3"
          :disabled="{disabled: state.disabled3, message: 'Generate train/val splits at step 2 before preview training tags'}"
          ref="step3"
>
    <sly-class-balance v-if="data.tagsBalance"
                       v-model="state.selectedTags"
                       :content="data.tagsBalance"
                       :options="data.tagsBalanceOptions"
                       :disabled="data.done3">
        <template v-slot:collapse-row="{ row }">
            <sly-image-slider :data="data.tag2urls[row.name]"
                              :options="data.imageSliderOptions"></sly-image-slider>
        </template>
    </sly-class-balance>
    <div v-if="data.skippedTags.length > 0">
        <hr style="border: 0; border-top: 1px solid rgba(0,0,0,.12); margin-bottom: 15px;"/>
        <sly-field title="These tags can not be used for training"
                   description="Learn more in app readme">
            <table class="beautiful-table al">
                <thead>
                <tr>
                    <th style="min-width: 180px;">Tag name</th>
                    <th>Reason</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in data.skippedTags">
                    <td><i class="zmdi zmdi-label mr5" :style="{color:item.color}"></i>{{item.name}}</td>
                    <td>{{item.reason}}</td>
                </tr>
                </tbody>
            </table>
        </sly-field>
    </div>
    <div v-if="data.tagsBalance">
        <hr style="border: 0; border-top: 1px solid rgba(0,0,0,.12); margin-bottom: 15px;"/>
        <sly-field title="Classification task mode">
            <div><el-radio v-model="state.cls_mode" :disabled="data.done3" label="one_label">Classic classification task (one label)</el-radio></div>
            <div><el-radio v-model="state.cls_mode" :disabled="data.done3" label="multi_label">Multi-label classification</el-radio></div>
        </sly-field>
    </div>
    
    <div class="mt10">
        <el-button type="primary" class="regular mr10"
                   :loading="state.tagsInProgress"
                   v-if="!data.tagsBalance"
                   @click="state.tagsInProgress = true; command('show_tags')">
            Show tags and stats
        </el-button>
        <div v-if="data.tagsBalance">
            <el-button type="primary" class="regular"
                       @click="command('use_tags')"
                       :disabled="state.selectedTags.length < 2"
                       v-if="!data.done3">
                Use {{state.selectedTags.length}} selected tags
            </el-button>
            <div v-if="state.selectedTags.length < 2" class="mt5">
                <i class="zmdi zmdi-help" style="color: orange"></i> Please select at least two tags for training
            </div>
            <div v-if="data.done3">
                <i class="zmdi zmdi-check-circle mr5 mt10" style="color: #13ce66"></i>
                <span style="color: #5a6772;">Selected {{state.selectedTags.length}} tags</span>
            </div>
            <el-button type="warning" class="regular mt10" :plain="true"
                       @click="state.restartFrom = 3;"
                       v-if="data.done3 && !state.started">
                <i class="zmdi zmdi-rotate-left mr5"></i> Select other tags
            </el-button>
        </div>
    </div>
    <div v-if="data.progress3" class="mt10">
        <div style="color: #20a0ff">{{data.progress3}}: {{data.progressCurrent3}} / {{data.progressTotal3}}</div>
        <el-progress :percentage="data.progressPercent3"></el-progress>
    </div>
</sly-card>
